@font-face {
    font-family: "font ex";
    src: url('font\ 1.ttf');
}
#body{
    background-image: url(gambar/bg\ doodle.png);
}
#utama{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    background-color: black;
    height: 50px;

}
.pattern{
    height: 80px;
    width: 100%;
    
    background-image: url(gambar/bg\ pattern\ 2.png) ; 
    
    
}
#carousel {
    width: 100%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(gambar/bg\ pattern\ 3.png);
    background-repeat: repeat-x;
}

.gambar{
    margin-left: 250px;
    width: 200px;
}
.font{
    font-family: "font ex";
}